---
import "@/styles/globals.css";

import MainNav from "@/components/MainNav.astro";
import DashboardStats from "@/components/dashboard/dashboard-stats";

import type { StatisticProps } from "@/components/dashboard/dashboard-stats";
import type { NavItem } from "@/components/MainNav.astro";

const stats = [
  {
    title: "Total opened",
    value: "80 points",
    delta: "2 new points added yesterday",
  },
  {
    title: "Total closed",
    value: "60 points",
    delta: "10 points closed yesterday",
  },
  {
    title: "Percent completed",
    value: "75%",
    delta: "+5% points from yesterday",
  },
  {
    title: "Time left in sprint",
    value: "7 days",
    delta: "50% of sprint complete",
  },
] as StatisticProps[];

const links = [
  {
    name: "Sprint Planning",
    href: "#",
  },
  {
    name: "Delivery",
    href: "#",
  },
] as NavItem[];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <MainNav links={links} />
      <div class="container mt-12">
        <DashboardStats stats={stats} />
      </div>
    </main>
  </body>
</html>
